$tools-height: 50px;
$hierarchy-width: 150px;
$inspector-width: 250px;
$console-height: 130px;

.editor {
    .tools, .hierarchy, .inspector {
        // Positioning
        position: absolute;
        top: 0;
    }

    .tools, .hierarchy {
        left: 0;
    }

    .inspector {
        right: 0;
    }

    .hierarchy, .inspector {
        height: calc(100vh - $tools-height);
        margin-top: $tools-height;
    }

    .tools {
        width: 100vw;
        height: $tools-height;
        background-color: grey;

        .toolButton {
            width: $tools-height;
            height: $tools-height;

            img {
                width: inherit;
                height: inherit;
            }
        }
    }

    .hierarchy {
        background-color: darkgrey;
        width: $hierarchy-width;

        .item {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 5px;
            cursor: pointer;
            
            img {
                --size: 30px;
                width: var(--size);
                height: var(--size);
            }

            &:hover, &.active {
                background-color: hsl(0, 0%, 35%)
            }
        }
    }

    .inspector {
        background-color: lightgrey;
        width: $inspector-width;

        h2 {
            padding: 2px;
            text-align: center;
        }
    }

    .preview {
        position: absolute;

        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        border-radius: 0.5rem;
        border: 5px solid black;

        // top: $tools-height;
        // left: $hierarchy-width;
        // height: calc(100vh - $tools-height);
        // width: calc(100vw - $inspector-width - $hierarchy-width);

        &.full {
            width: calc(100vw - $hierarchy-width)
        }

        &.desktop {
            width: 50rem;
            height: 22rem;
        }
    }

    .element__parent {
        width: 350px;
        .element__list {
            width: 100%;

            .elements__item {
                display: flex;
                align-items: center;
                justify-content: space-around;
                padding: 5px;
                background-color: hsl(0, 0%, 95%);

                button {
                    padding: 5px;
                    border-radius: 0.4rem;
                    cursor: pointer;
                }

                border-radius: 0.7rem;
            }
        }
    }

    .console {
        width: calc(100vw - $hierarchy-width);
        height: $console-height;

        position: absolute;
        bottom: 0;
        left: $hierarchy-width;
        background-color: hsl(0, 0%, 70%);

        overflow-y: scroll;
        border-top: 3px solid hsl(0, 0%, 75%);

        &.dextend {
            width: calc(100vw - $hierarchy-width - $inspector-width);
        }

        // Custom scrollbar courtesy of https://www.w3schools.com/howto/howto_css_custom_scrollbar.aspok 
        /* width */
        &::-webkit-scrollbar {
            width: 10px;
        }
        
        /* Track */
        &::-webkit-scrollbar-track {
            background: #f1f1f1; 
        }
        
        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #888; 
        }
        
        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #555; 
        }

        .console__message {
            padding: 8px;
            overflow-wrap: break-word;

            &.info {
                background-color: hsl(0, 0%, 30%);
                border-top: 2px solid hsl(0, 0%, 25%);
                border-bottom: 2px solid hsl(0, 0%, 25%);
            }

            &.warn {
                background-color: hsl(55, 100%, 30%);
                border-top: 2px solid hsl(55, 100%, 25%);
                border-bottom: 2px solid hsl(55, 100%, 25%);
            }

            &.error {
                background-color: hsl(0, 100%, 30%);
                border-top: 2px solid hsl(0, 100%, 25%);
                border-bottom: 2px solid hsl(0, 100%, 25%);
            }
        }
    }
}