@use "./Editor";

$tabs-height: 46.38px; // Don't ask why this is so specific
$file-list-width: 250px;

.text__editor {
    margin-top: Editor.$tools-height;

    .tab__container {
        .editor-panel {
            margin: 0;
            padding: 0;

            height: calc(100vh - Editor.$tools-height - $tabs-height - 2px);
        }     
    
        margin-left: $file-list-width;
        width: calc(100vw - $file-list-width);
    }

    .editor__list {
        position: absolute;
        width: $file-list-width;
        background-color: hsl(0, 0%, 34%);

        height: calc(100vh - Editor.$tools-height);
        
        .file {
            padding: 5px;
            display: flex;
            justify-content: space-between;
            cursor: pointer;

            img {
                width: 22px;
                height: 22px;
                display: none;
            }
            &:hover {
                background-color: darkgrey;
            
                img {
                    display: block;
                }
            }
        }
    }

    .new__file {
        input, button {
            outline: 0;
            border: 0;
            padding: 5px;
        }
    }
}
