.sidebar__tabbed {
    display: flex;
    .tabs {
        display: flex;
        flex-direction: column;

        .tab__button {
            button {
                padding: 10px;
                background-color: inherit;
                border: none;
                outline: none;
                cursor: pointer;
            }

            .line {
                height: 100%;
                width: 5px;
                background-color: none;
            }

            &:hover {
                .line {
                    background-color: grey;
                }
            }
            
            &.active {
                .line {
                    background-color: black;
                }
            }

            display: flex;
            justify-content: space-between;
        }
    }

    .content {
        margin-left: 10px;
        margin-top: 30px;
    }
}