.dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 100%);
    border-radius: 0.7rem;
    padding: 15px;
    box-shadow: 0px 0px 45px 0px rgba(0,0,0,0.75);
    z-index: 0;
    background-color: white;

    opacity: 0;
    &.show {
        opacity: 1;
        z-index: 10;
        transform: translate(-50%, -50%);
    }
    img.close__btn {
        $size: 30px;
        width: $size;
        height: $size;
        cursor: pointer;
        position: absolute;
        left: 100%;
        padding: 5px;
        margin-left: 10px;
        border-radius: 50rem;
    }
    .top {
        display: flex;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
    }

    transition: all ease-in-out 0.5s;
}

.screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -9;

    opacity: 0;
    &.show {
        z-index: 9;
        opacity: 1;
    }
    transition: all ease-in-out 0.5s;
}